<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Upload de PDF</title>
</head>
<body>
    <h1>Upload de PDF</h1>
    
    <!-- Formulário para upload de arquivo PDF -->
    <form action="{{ url_for('upload_pdf') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf">
        <button type="submit">Fazer Upload</button>
    </form>
    
    <h2>Arquivos no diretório</h2>
    <ul>
        {% for arquivo in arquivos %}
            <li>
                {{ arquivo }}
                <!-- Link para visualizar o PDF -->
                <a href="{{ url_for('static', filename='relatorios/' ~ arquivo) }}" target="_blank">Visualizar</a>
                <!-- Formulário para exclusão de arquivo -->
                <form action="{{ url_for('pdf.delete_pdf', filename=arquivo) }}" method="post" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('home') }}">Voltar</a>
</body>
</html>
