{% extends "base.html" %}

{% block title %}Lista de Arquivos PDF{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/listar_pdfs.css') }}">

    <nav>
        <a href="/">Página Inicial</a>
    </nav>

    <div class="pdf-container">
        <h1 class="pdf-titulo">Lista de Arquivos PDF</h1>
        <ul class="pdf-lista">
            {% for arquivo in arquivos %}
                <li class="pdf-item">
                    <a href="{{ url_for('static', filename='relatorios/' ~ arquivo) }}" target="_blank" class="pdf-link">{{ arquivo }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('home') }}" class="pdf-voltar">Voltar</a>
{% endblock %}
